<div class="g-ft">
    <footer class="m-footer">
        <p><a href="<%= relativePath %>index.html" class="footer_logo"><img src="<%= relativePath %>img/logo-v1.0-64.png" /></p>
        <p>
            <a href="https://github.com/regular-ui/regular-ui" target="_blank">GitHub</a> |
            <a href="https://github.com/regular-ui/regular-ui/issues" target="_blank">Issues</a> |
            <a href="https://github.com/regular-ui/regular-ui/releases" target="_blank">ChangeLog</a> |
            <a href="https://github.com/regular-ui/regular-ui/blob/master/CONTRIBUTING.md" target="_blank">Contributing</a>
        </p>
        <p>Licensed under <a href="https://github.com/regular-ui/regular-ui/blob/master/LICENSE" target="_blank">MIT license</a>.</p>
    </footer>
</div>
<a href="#" class="m-gotop"></a>
<script src="<%= relativePath %>vendor/regular.min.js"></script>
<script src="<%= relativePath %>vendor/marked.min.js"></script>
<script src="<%= relativePath %>js/regular-ui.min.js"></script>
<script>
var _ = RGUI._;
var $$ = function(selector){return document.querySelectorAll(selector)};

var themeSelect = new RGUI.Select2({
    data: {
        source: themes,
        selected: selectedTheme,
        placeholder: null,
        'class': 'u-select2-theme'
    }
}).$inject('#j-themeSelect')
  .$on('select', function($event) {
    themeCSS.href = window.relativePath + 'css/regular-ui.' + $event.selected.name + '.min.css';
    localStorage['selectedTheme'] = $event.selected.name;
});

// 生成tabs
(function() {
    var $examples = document.getElementsByClassName('m-example');

    for(var i = 0; i < $examples.length; i++) {
        var $example = $examples[i];
        if(!$example)
            break;

        var source = [];

        var $next = $example.nextElementSibling;
        while($next && $next.className.indexOf('m-example') < 0) { // $next.tagName[0] !== 'H' && 
            if($next.className === 'lang-xml' || $next.className === 'lang-rgl') {
                source.push({title: 'rgl', content: $next.outerHTML});
                $prev = $next;
                $next = $next.nextElementSibling;
                $prev.remove();
            } else if($next.className === 'lang-html') {
                source.push({title: 'html', content: $next.outerHTML});
                $prev = $next;
                $next = $next.nextElementSibling;
                $prev.remove();
            } else if($next.className === 'lang-javascript') {
                source.push({title: 'javascript', content: $next.outerHTML});
                $prev = $next;
                $next = $next.nextElementSibling;
                $prev.remove();
            } else
                $next = $next.nextElementSibling;
        }

        if(!source.length)
            continue;

        new RGUI.Component({
            template: RGUI._.multiline(function(){/*
<tabs>
    {#list source as item}
    <tab title={item.title}><div r-html={item.content}></div></tab>
    {/list}
</tabs>
            */}),
            data: {
                source: source
            }
        }).$inject($example, 'after');
    }
})();
</script>
<script>
<%- script %>
</script>
</body>
</html>