<div class="g-sd">
    <ul class="m-sidebar">
        <% var group; %>
        <% sidenavs.forEach(function(item) { %>
        <% if(item.hidden) return; %>
        <% if(item.group != group) {
            group = item.group; %>
        <li class="sidebar_group"><span><%= item.group %></span></li>
        <% } %>
        <li<% if(sidenav === item.lowerName) { %> class="z-crt"<% } %>><a href="<%= item.path %>" <%= item.blank ? 'target="_blank"' : ''%>><%= item.cnName %><small> <%= item.name %></small>
        <% if(item.stable) { %>
            <span class="u-badge2 u-badge2-stable" title="该组件目前已比较稳定"></span>
        <% } else if(item.beta) { %>
            <span class="u-badge2 u-badge2-beta" title="该组件的部分功能还不太稳定"></span>
        <% } else if(item.new) { %>
            <span class="u-badge2 u-badge2-new" title="该组件最近刚添加到库中"></span>
        <% } %>
        </a></li>
        <% }); %>
    </ul>
</div>